/* body {
    padding: 0 40px;
} */

.headercontainer {
    padding: 40px 40px 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.com {
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.name {
    margin: 0;
}

.menu {
    margin: 0;
}

.item {
    display: inline-flex;
    justify-content: flex-end;
}

.item1 {
    margin-right: 30px;
}

.welcome {
    padding: 40px;
}

.welcometext {
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-right: 35%; 
}

.projects {
    display: flex;
}

.mockup {
    min-width: 300px;
    flex: 33.33%;
    padding-bottom: 10px;
}

.mockup1 {
    padding-left: 40px;
}

.mockup2 {
    padding-right: 40px;
}

img {
    max-width: 100%;
}

.toplink1 {
    color: #414141;
}

.toplink2 {
    color: #414141;
}

.toplink3 {
    color: #979797;
}

.toplinkbio2 {
    color: #979797;
}

.toplinkbio3 {
    color: #414141;
}

.link:hover {
    text-decoration: none;
    color: #414141;
}

.end {
    padding: 70px 40px 10px 40px;
    display: flex;
    flex-wrap: wrap;
}

.finaltext {
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
}

.sobremi {
    display: flex;
    padding-top: 80px;
}

.bio {
    padding: 0 10px 10px 40px;
}

.img-wrapper {
    min-width: 30%;
    margin: 5px 0 20px 240px;
}

.biotext {
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    padding-right: 30%;
}

.contact {
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-align: left;
    padding-top: 20px;
}

.mylinkedin {
    color: #888888;
    font-size: 25px;
    padding-right: 10px;
}

.mylinkedin:hover {
    color: #0077b5;
}

.mymedium {
    color: #888888;
    font-size: 25px;
    padding-right: 10px;
}

.mymedium:hover {
    color: #292929;
}

.myemail {
    color: #888888;
    font-size: 25px;
}

.myemail:hover {
    color: #1dbff5;
}

.presentation {
    padding: 60px 40px 0 40px;
}

.title {
    padding: 40px 15%;
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.userpersona {
    padding: 0 15%;
}

.gaintimecasestudy {
    padding: 0 15%;
}

.gaintimetext {
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.capstonecasestudy {
    margin: 40px 40px 0 40px;
}

.capstonetext {
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

/* ASPECT RATIO UTILS */

[class*='ratio-'] {
    display: block;
    position: relative;
  }
  
  [class*='ratio-'] > * {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .aspect-ratio-foto-silvia {
    padding-top: 110%;
  }

  .aspect-ratio-foto-silvia img {
    object-fit: cover;
  }
  

@media (max-width: 1200px) {
    .sobremi {
        display: block;
    }
    .img-wrapper {
        max-width: 30%;
        margin: 0 40px 28px 40px;
        float: left;
    }
}

@media (max-width: 750px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 20px;
        border-bottom: 1px solid #D8D8D8;
        background: white;
    }

    .com {
        font-size: 18px;
    }

    .name {
        display: none;
    }

    .welcome {
        padding: 40px 20px 10px 20px;
    }

    .welcometext {
        font-size: 25px;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        padding-right: 0;
    }

    .projects {
        flex-direction: column;
    }

    .mockup1 {
        padding: 0 20px 10px 20px;
    }
    
    .mockup2 {
        padding: 0 20px 10px 20px;
    }

    .end {
        padding: 40px 20px 10px 20px;
    }

    .sobremi {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .img-wrapper {
        float: none;
        margin: 0 0 30px 20px;
        max-width: 70%;
    }

    .bio {
        padding: 0 20px 10px 20px;
    }

    .biotext {
        font-size: 18px;
        padding-right: 0;
    }

    .contact {
        font-size: 18px;
        padding-right: 0;
    }
    
    .presentation {
        padding: 40px 20px 0 20px;
    }

    .title {
        padding: 30px 20px;
        font-size: 25px;
    }

    .userpersona {
        padding: 0 20px;
    }
    
    .gaintimecasestudy {
        padding: 0 20px;
    }

    .gaintimetext {
        font-size: 18px;
    }

    .aspect-ratio-foto-silvia {
        padding-top: 70%;
      }

}