body {
    padding: 0 40px;
}

.headercontainer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.com {
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.name {
    display: flex;
    flex: 1;
}

.separator {
    display: flex;
    flex: 7;
}

nav {
    display: flex;
    flex: 1;
}

.menu {
    display: flex;
    flex: 1;
}

.item {
    display: inline-flex;
    flex: 1;
    justify-content: flex-end;
}

.welcome {
    padding: 40px 0;
    display: flex;
    flex: 2;
}

.welcometext {
    color: #414141;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    display: flex;
    flex: 2;
}

.welcomeseparator {
    display: flex;
    flex: 1;
}

.projects {
    display: inline-flex;
}

.mockup1 {
    padding-right: 10px;
}

.mockup2 {
    padding-left: 10px;
}

img {
    max-width: 100%;
}