body {
    padding: 0 20px;
}

h1 {
    color: #777;
    font-family: 'Poppins', sans-serif;
}

article {
    display: flex;
    justify-content: center;
}

.header {
    margin-top: 40px;
    font-style: light
    display: flex;
    justify-content: space-between;
}

.menu li {
    display: inline;
}